<!DOCTYPE html>
<html>
<head>
    <title>Mon profil</title>
</head>
<body>
    <h1>Bienvenue sur votre profil !</h1>
    <p>Votre nom : <%= user.name %></p>
    <p>Votre date d'anniversaire : <%= user.birthday %></p>
</body>
</html>